@charset "UTF-8";

    *{
        box-sizing: border-box;
        transition: all .3s ease;
    }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
}

/*------------- MENU -------------------*/

    nav {
        width: 100%;
        background: #000;
    }

    ul {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    ul.lista li {
        font-family: Gill Sans MT;
        text-transform: uppercase;
        list-style: none;
        display: inline-block;
        font-size: 12pt;
        padding: 15px;
    }


    ul.lista li a {
        color: #fff;
        text-decoration: none;
    }

    ul.lista li:hover {
        background: red;
        transition: 0.5s;
    }

    .toggle {
        width: 100%;
        padding: 10px 20px;
        background: #000;
        text-align: right;
        box-sizing: border-box;
        color: #fff;
        font-size: 30px;
        display: none;
    }

/*----------------- MENU RESPONSIVO -----------------*/
    @media (max-width: 790px) 
    {
        .toggle {
            display: block;
        }

    ul {
        width: 100%;
        display: none;
    }

    ul.lista li {
        display: block;
        text-align: center;
    }

    .active {
        display: block;
    }
}

/*------------------------- CORPO -----------------------*/

      section#banner {
        margin-bottom: 70px;
      } 

      header#cabecalho {
        background-color: red;
        margin: 0px;
        padding: 30px;
        margin-bottom: 20px;
      }

      header hgroup h1 {
        text-align: right;
        font-family: Gill Sans MT;
        font-style: italic;
        margin-right: 20px;
        color: #fff;
        font-size: 4vw;
      }

      h2 {
        color: #fff;
        background-color: #000;
        text-align: center;
        font-family: Gill Sans MT;
        padding: 10px;
        margin: 0px -30px -50px;
        font-size: 18pt;
      }



/*------------ GALERIA DE PROJETOS----------------- */

.gallery-container h1 {
    text-align: center;
    margin-top: 60px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
    border: 1px solid rgba(0,0,0, 0.3);
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

button.btFotos {
    padding: 6px;
    margin-top: 10px;
    border: 2px solid #ff0000;
    text-decoration: none;
    background-color: transparent;
    color: #ff0000;
    font-size: 10pt;
    font-weight: bold;
}

button.btFotos:hover {
   background-color: #ff0000;
   border: 2px solid #ff0000;
   color: #fff;
   transition: 0.5s;
}


/* ------------------ RODAPE ----------------------*/

      footer {
        text-align: center;
        background-color: #000;
        padding: 15px;
    }

      footer p.endereco {
        font-family: Gill Sans MT;
        font-size: 11pt;
        color: #fff;
        margin-top: -5px;
    }

      a.fa {
        padding: 0px;
        text-decoration: none;
        margin-top: 0px;
        margin-left: 10px;
     }

       a.fa-facebook {
        color: #fff; 
       }

       a.fa-instagram {
         color: #fff;
       }

       .fa-facebook:hover {
          color: #0000ff;
        }

       .fa-instagram:hover {
          color: #E1306C;
       }
